/* Base Style */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

.logo {
    width: 70px;
    height: 70px;
}

.ham {
    color: white;
    font-size: 30px;
    font-weight: normal;
    display: none;
    cursor: pointer;
}

#menu-services {
    display: flex;
    align-items: center;
    height: 50px;
}

#menu-services:hover #services-dropdown {
    visibility: visible;
    opacity: 1;
    top: 75px;
}

#services-dropdown {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    visibility: hidden;
    position: absolute;
    top: 60px;
    background: white;
    padding: 10px;
    height: 320px;
    opacity: 0;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    transition: 
    all 0.3s ease-in-out 0s,
    visibility 400ms ease-in-out 100ms,
    opacity 400ms ease-in-out 100ms,
    top 400ms ease-in-out 100ms;
}

#services-dropdown a {
    color: black;
    width: 100%;
    border-width: 1px 0;
    border-style: dotted;
    border-color: white;
}

#services-dropdown a:hover {
    border-color: black;
}

#ham-show nav {
    display: flex;
    flex-direction: column;
    background-color: #000000d9;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#ham-show nav a {
    font-size: 2rem;
}

#ham-show .ham {
    position: relative;
    z-index: 1;
}

#ham-show .logo {
    position: relative;
    z-index: 1;
}

#ham-show #services-dropdown {
    min-height: 60vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 5vw;
    background-color: black;
}

.menu-container nav {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    max-width: 750px;
}
.menu-container a {
    color :rgb(202, 185, 185);
    font-size: 20px;
    text-decoration: none;
}

.menu-container a:hover {
    color: white;
    font-weight: bold;
}
.main-top-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc((30vw + 200px));
    /* background-image: url('./img/homepage.jpg');
    background-size: cover; */
}

.main-top-img h1 {
    font-family: "Dancing Script", cursive;
    text-shadow: 2px 2px #aca7a7;
    padding-right: 10%;
    padding-bottom: 10%;
    color: rgb(27, 22, 22);
    font-size: 6.5vw;
}

.main-Services , .project-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #ddd;
    color: #333;
    width:100%;
    height: auto;
    flex-wrap: wrap;
    padding: 7%;
}
.main-Services a h1 { color: #DAA520}

.main-Services a , .project-container a {
    color: #333;
    text-decoration: none;
}

.main-Services div , .project-container div{
    box-sizing: border-box;
    width: 320px;
    height: 340px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    margin: 2vh 2vw;
}
.main-Services h1 {
    text-align: center;   
    margin: 4%;
    font-weight: bold;

}

.main-Services p , .contact-container p , .contact-container span{
    text-align: inherit;
    font-weight: bold;
    font-size:20px;  
    margin: 4%;
    line-height: 26px;
}

footer {
    background-color: #c0c0c0;
    width:100%;
    height: 200px;
    display: flow-root;
}

.Footer {
    display: flex; 
    justify-content:center;
    padding-top: 2%;
  
}
.Footer img, .contact-container img {
    width: 35px;
    height: 35px;
}

.Footer img:hover, .contact-container img:hover {
    width: 45px;
    height: 45px;
}

.Footer span {
    width: 50px;
    height: 50px;
}

.copyright {
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

.copyright h1 {
    font-size:20px;
}

/* _______________ Contact us ________________________*/

.contact-container {
    background-color: #dbdad5;
    padding: 5% 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.contact-container div {
    display: inline-block;
}
.contact-container p, .contact-container h1 {
    padding-top: 3%;
}
.contact-container a {
    text-decoration: dotted;
    font-size: 20px;
    width: 50px;
    
}

.contact-container div div {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
}

.contact-container div span {
    font-size: 18px;
}

form {
    padding-top: 5%;
     display: grid;
}

form label , form input{
    padding-bottom: 10px;
}

/* __________________________ project _____________________ */
.project-container div {
    overflow: hidden;
    border-radius: 0;
}

.demo--subject {
    padding: 4%;
    background-color: #d3d3d3;
}

.project-container h1 {
    font-size: 20px;;
}
.project-container div a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}


.project-container div a img:hover {
    filter: grayscale(0%);
}

.project-container div:hover {
    filter: grayscale(0%);
}

/* _____________________________________ services ________________________ */

.services-container {
    background-color: #dbdad5;
    min-height: 70vh;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

.service-img {
    max-width: 600px;
    min-width: 300px;
    padding: 1%;
}

.service-content {
    width: 600px;
    padding: 1%;
}

.service-content h1 {
    color: goldenrod;
    font-size: 28px;
    margin: 2% 0;  
    line-height: 25px;  
}

.service-content h2 {
    font-size:24px;
    margin: 2% 0;    

}
.service-content p {
    font-size: 18px;
    margin: 2% 0;    
    font-weight: bold;
    line-height: 27px;
}

/* ________________________ */




/* ___________  Graphic Design  _____________ */

.graphic-img {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.graphic-img img {
    width: 300px;
    margin: 1%;
    background-color: black;
}


/* ___________  @media  _____________ */

@media (max-width: 750px) {
    .menu-container nav {
        display: none;
    }
    .ham {
        display: block;
    }
    #services-dropdown a {
        border-color: black;
        border-width: 0 0 1px 0;
    }
}