/* Base Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.logo {
    width: 48.5px;
    height: 60px;
}

.menu-container a {
}
.ham {
    color: white;
    font-size: 30px;
    font-weight: normal;
    display: none;
}

#ham-show nav {
    display: flex;
    flex-direction: column;
    background-color: #000000d9;
    align-items: center;
    justify-content: center;
    background-color: #000000d9;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

#ham-show nav a {
    font-size: 2em;
    margin-bottom: 10px;
}

#ham-show .ham {
    position: relative;
    z-index: 1;
}

#ham-show .logo {
    position: relative;
    z-index: 1;
}

header {
    position: sticky;
    top: 0;
}

/* .row {
    margin: 0 auto;
    width: 60%;
    max-width: 1140px;
  } */
  
.menu-container {
    display: flex;
    justify-content: space-around;
    /* background-color: graytranspa; */
    height: 100px;
    align-items: center;
    padding: 0 5vw;
    position: absolute;
    top: 0;
    width: 100%;
}

.menu-container a {
    color :gray;
    font-size: 20px;
    padding-left: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 1px white;
}
.menu-container a:active,
.menu-container a:hover{
    color: black;
    font-size: 22px;
    text-decoration: underline;
}
.main-top-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc((35vw + 200px));
    background-image: url("background.jpeg"); 
    background-size: cover;
}

.main-top-img h1 {
    padding-right: 30%;
    padding-bottom: 10%;
    font-style: italic;
    color: white;
    font-size: 4.5vw;
}

.main-Services {
    display: flex;
    justify-content: space-evenly;
    background-color: #dbdad5;
    width:100%;
    height: auto;
    flex-wrap: wrap;
    padding: 10%;
}

.main-Services div {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-color: #dbdad5;
    border: 2px solid goldenrod;
    margin: 2vh 2vw;
}
.main-Services h1 {
    text-align: center;   
    margin: 4%;

}

.main-Services p {
    text-align: justify;
    font-size:20px;  
    margin: 4%;
}

footer {
    border: 1px;
    border-style: double;
    border-color: black;
    background-color: #81701c;
    width:100%;
    height: 300px;
    display: flow-root;
}

.Footer {
    display: flex; 
    justify-content:center;
  
}
.Footer img {
    width: 40px;
    margin: 2%;
}

.copyright {
    padding-top: 2%;
    display: flex;
    justify-content: center;
}


@media (max-width: 700px) {
    .menu-container nav {
        display: none;
    }
    .ham {
        display: block;
    }
}

@media (min-width: 701px) {
    .menu-container nav {
        display: flex;
    }
    .ham {
        display: none;
    }
}