/* Base Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.logo {
    width: 48.5px;
    height: 60px;
}

.ham {
    color: white;
    font-size: 30px;
    font-weight: normal;
    display: none;
}

#ham-show nav {
    display: flex;
    flex-direction: column;
    background-color: #000000d9;
    align-items: center;
    justify-content: center;
    background-color: #000000d9;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

#ham-show nav a {
    font-size: 2em;
    margin-bottom: 10px;
}

#ham-show .ham {
    position: relative;
    z-index: 1;
}

#ham-show .logo {
    position: relative;
    z-index: 1;
}

header {
    position: sticky;
    top: 0;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    padding: 0 5vw;
    /* position: absolute; */
    top: 0;
    width: 100%;
    background-color: black;

}

.menu-container a {
    color :white;
    font-size: 20px;
    padding-left: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 1px white;
}
.menu-container a:active,
.menu-container a:hover{
    color: white;
    font-size: 22px;
}
.main-top-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc((35vw + 200px));
    /* background-image: url("background.jpeg"); 
    background-size: cover; */
}

.main-top-img h1 {
    font-family: "Dancing Script", cursive;
    padding-right: 30%;
    padding-bottom: 10%;
    /* font-style: italic; */
    color: rgb(27, 22, 22);
    font-size: 4.5vw;
}

/* .main-top-img h1:hover {
    font-style: normal;
    color:red;
	transition: all 1.4s ease-in-out;
} */

.main-Services , .project-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #dbdad5;
    width:100%;
    height: auto;
    flex-wrap: wrap;
    padding: 10%;
}

.main-Services div , .project-container div{
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-color: #dbdad5;
    border: 2px solid goldenrod;
    margin: 2vh 2vw;
}
.main-Services h1 {
    text-align: center;   
    margin: 4%;
}

.main-Services p {
    text-align: justify;
    font-size:20px;  
    margin: 4%;
}

footer {
    /* border: 1px;
    border-style: double;
    border-color: black; */
    background-color: #dbdad5;
    width:100%;
    height: 200px;
    display: flow-root;
}

.Footer {
    display: flex; 
    justify-content:center;
  
}
.Footer img, .contact-container img {
    width: 35px;
}

.Footer img:hover, .contact-container img:hover {
    width: 45px;
}

.Footer span {
    width: 50px;
    height: 50px;
}

.copyright {
    padding-top: 2%;
    display: flex;
    justify-content: center;
}


@media (max-width: 700px) {
    .menu-container nav {
        display: none;
    }
    .ham {
        display: block;
    }
}

@media (min-width: 701px) {
    .menu-container nav {
        display: flex;
    }
    .ham {
        display: none;
    }
}


/* _______________ Contact us ________________________*/

.contact-container {
    padding: 5% 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.contact-container div {
    display: inline-block;
}
.contact-container p, .contact-container h1 {
    padding-top: 3%;
}
.contact-container a {
    text-decoration: dotted;
    font-size: 20px;
    width: 50px;
    
}

.contact-container div div {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
}

.contact-container div span {
    font-size: 18px;
}

form {
    padding-top: 5%;
     display: grid;
}

form label , form input{
    padding-bottom: 10px;
}

/* __________________________ project _____________________ */

.project-container div a img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    filter: grayscale(100%);
    /* transition: grayscale 10s; */
    /* transition: border-radius 10s; */
    /* transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68); */
}

.project-container div a img:hover,
.project-container div a:hover,
.project-container div:hover {
    filter: grayscale(0%);
    border-radius: 50%;
}